
	<section class="content-inicio">
		<div class="top-slides">
			<div class="princ-slides">
				<span class="arrow-left" id="arrow-left-f"></span>
				<span class="arrow-right" id="arrow-right-f"></span>
				<div id="princ-slides">
					<div class="item" data-desc="img/slides1/desc-1.png"><img src="img/slides1/hamb1.png" alt=""></div>
					<div class="item" data-desc="img/slides1/desc-2.png"><img src="img/slides1/hamb2.png" alt=""></div>
					<div class="item" data-desc="img/slides1/desc-1.png"><img src="img/slides1/hamb1.png" alt=""></div>
					<div class="item" data-desc="img/slides1/desc-2.png"><img src="img/slides1/hamb2.png" alt=""></div>
				</div>
			</div>
			<div id="slides-desc" class="slides-desc">
				<div>
					<img src="img/slides1/desc-1.png" alt="">
				</div>
			</div>
		</div>
		<div class="other-slides">
			<div class="container-s">
			<span class="arrow-left" id="arrow-left-o"></span>
			<span class="arrow-right" id="arrow-right-o"></span>
				<div id="other-slides">
				<div class="item"><img src="img/slides2/slide1.jpg" alt=""></div>
				<div class="item"><img src="img/slides2/slide2.jpg" alt=""></div>
				<div class="item"><img src="img/slides2/slide3.jpg" alt=""></div>
				<div class="item"><img src="img/slides2/slide1.jpg" alt=""></div>
				<div class="item"><img src="img/slides2/slide2.jpg" alt=""></div>
				<div class="item"><img src="img/slides2/slide3.jpg" alt=""></div>
				<div class="item"><img src="img/slides2/slide1.jpg" alt=""></div>
				<div class="item"><img src="img/slides2/slide2.jpg" alt=""></div>
				<div class="item"><img src="img/slides2/slide3.jpg" alt=""></div>
			 </div>
			</div>
		</div>
	</section>
	<footer>
		<ul class="footer-ul">
	     <li><ul>
	     <li><a href="#"><i class="fa fa-twitter"></i></a></li><!--
	     --><li><a href="#"><i class="fa fa-facebook-square"></i></li><!--
	     --><li><a href="#"><i class="fa fa-map-marker"></i></a></li>
	     </ul></li><!--
	     --><li><a href="#">Terminos y condiciones</a></li><!--
	     --><li><a href="#">Politica y privacidad</a></li><!--
	     --><li><a href="#">Información legal</a></li><!--
	     --><li><a href="#">Contactenos</a></li><!--
	     --><li><a href="#">Despliegue</a></li>
	    </ul>
	</footer>
	<script src="js/owl-carousel/owl.carousel.js"></script>
	<script>
		$(function() {
		 
		  var owl = $("#princ-slides");
		  var other = $("#other-slides");
		  var descS = $("#slides-desc img");
		    owl.owlCarousel({
		      items : 1,
		      pagination: false,
		      responsive:false,
		      lazyLoad : true,
		      afterMove: function (e) {
		        var current = owl.data('owlCarousel').owl.currentItem;
		        var img = $("#princ-slides .item:eq("+current+")").attr("data-desc");
		        descS.attr("src",img);
		      },
		    });
		    $("#arrow-right-f").click(function(){
		      owl.trigger('owl.next');
		    });
		    $("#arrow-left-f").click(function(){
		      owl.trigger('owl.prev');
		    });
		   	other.owlCarousel({
		        items : 3,
		        pagination: false,
		        responsive:false,
		        lazyLoad : true,
		    });
		   	$("#arrow-right-o").click(function(){
		      other.trigger('owl.next');
		    });
		    $("#arrow-left-o").click(function(){
		      other.trigger('owl.prev');
		    });
		});
	</script>