	<section class="content-novedades">
		novedades
	</section>
	<footer>
		<ul class="footer-ul">
	     <li><ul>
	     <li><a href="#"><i class="fa fa-twitter"></i></a></li><!--
	     --><li><a href="#"><i class="fa fa-facebook-square"></i></li><!--
	     --><li><a href="#"><i class="fa fa-map-marker"></i></a></li>
	     </ul></li><!--
	     --><li><a href="#">Terminos y condiciones</a></li><!--
	     --><li><a href="#">Politica y privacidad</a></li><!--
	     --><li><a href="#">Información legal</a></li><!--
	     --><li><a href="#">Contactenos</a></li><!--
	     --><li><a href="#">Despliegue</a></li>
	    </ul>
	</footer>